.input-container {
  // background-color: rgba($default-black, .09);
  // background-color: $default-grey;
  background-color: $default-white;
  height: math.div($default-height, 2);
  opacity: 0;
  overflow: hidden;
  position: absolute;
  transition: all $default-timing ease-in-out;
  width: 100%;
  z-index: 500;

  .vertical {
    width: 100%;
  }

  &:hover {
    height: $default-height;
    opacity: 1;
  }
}

input[type=text] {
  background-color: transparent;
  border: 0;
  font-family: $default-font-family;
  height: 18px;
  padding: 12px;
  position: fixed;
  transition: all $default-timing ease-in-out;
  width: 100%;

  &::selection {
    background: $default-active-color;
  }

  &.error {
    background-color: $default-error-background;
    color: lighten($default-error-background, 45);

    &::placeholder {
      color: lighten($default-error-background, 45);
    }
  }
}
