$default-black: rgb(15, 15, 30);
$default-error-background: #f00;
$default-error-color: #780000;
$default-grey: rgb(242, 242, 245);
$default-grey-light: rgba($default-black, .05);
$default-white: #fff;

$default-gutter-width: 6px;
$default-height: 42px;

$default-timing: 120ms;
