@use 'sass:math';

@import url('https://fonts.googleapis.com/css?family=Material+Icons|Space+Mono&subset=latin');
@import 'sass/variables';
@import 'sass/split';
@import 'sass/inputs';
@import 'sass/options';

body {
  font-family: 'Space Mono', monospace;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  width: 100vw;

  &.blank {
    // background: $default-white;
    background: radial-gradient($default-grey 15%, transparent 16%), radial-gradient($default-grey 15%, transparent 16%), $default-white;
    background-position: 0 0, 9px 9px;
    background-size: 18px 18px;
  }

  &.error {
    // background: $default-error-background;
    background: radial-gradient(lighten($default-error-background, 45) 15%, transparent 16%), radial-gradient(lighten($default-error-background, 45) 15%, transparent 16%), $default-white;
    background-position: 0 0, 9px 9px;
    background-size: 18px 18px;
    // background: repeating-linear-gradient(45deg, lighten($default-error-background, 40), lighten($default-error-background, 40) 2px, $default-white 1px, $default-white 20px);
  }
}

iframe {
  border: 0;
  height: 100%;
  position: absolute;
  width: 100%;
}

.container {
  align-items: stretch;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 0;

  &.split-horizontal {
    flex-direction: row;
  }

  &.split-vertical {
    flex-direction: column;
  }
}
